/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4016723 */
  src: url('//at.alicdn.com/t/c/font_4016723_8w73fqmdwbd.woff2?t=1682337219490') format('woff2'),
       url('//at.alicdn.com/t/c/font_4016723_8w73fqmdwbd.woff?t=1682337219490') format('woff'),
       url('//at.alicdn.com/t/c/font_4016723_8w73fqmdwbd.ttf?t=1682337219490') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-review:before {
  content: "\e62a";
}
.icon-dianzan:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-youjian_o:before {
  content: "\ebca";
}

.icon-faxian:before {
  content: "\e799";
}

.icon-Home-Outlined:before {
  content: "\e63d";
}

