@import "./base.css";
@import "./iconfont.css";
#app {
  font-weight: normal;
  background-color: #f5f7f8;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  color: black
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.fixed {
  position: fixed;
  z-index: 1000;
}